<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Intake - {{ subtitle }}</title>
<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMS41ZEdYUgAAAGFJREFUOE+lkFEKwDAIxXrzXXB3ckMm9EnAV/YRCxFCcUXEL3Jc77NDjpDA/VGL3RFWYEICfeGC8oQc9IPuCAnQDcoRVmBCAn3hgvKEHPSD7ggJ0A3KEVZgQgJ94YLSJ9YDUzNGDXGZ/JEAAAAASUVORK5CYII=">
<style>
div#wrapper {
	max-width: 700px;
	margin: 0 auto;
}
.readable-item {
	border: 1px solid black; border-radius: 6px;
	padding: 5px;
	margin-bottom: 20px;
	word-break: break-word;
}
.item-title {
	font-size: 1.4em;
}
.item-button {
	font-size: 1em;
	float:right;
	margin-left: 2px;
}
.item-link {
	text-decoration: none;
	float:right;
	font-size: 1em;
	padding: 2px 7px;
	border: 1px solid;
	border-radius: 2px;
}
.item-info {
	color: rgba(0, 0, 0, 0.7);
}
.readable-item img {
	max-width: 100%;
}
.readable-item textarea {
	width: 100%;
	resize: vertical;
}
button, summary {
	cursor: pointer;
}
summary {
	display: block;
}
summary:focus {
	outline: 1px dotted gray;
}
.strikethru span, .strikethru p {
	text-decoration: line-through;
}
.fade span, .fade p {
	color: rgba(0, 0, 0, 0.2);
}
pre {
	white-space: pre-wrap;
}
table.feed-control td {
	font-family: monospace; padding: 5px 10px;
}
span.error-message {
	color: red;
}
</style>
</head>
<body>
<div id="wrapper">

<div class="readable-item">
<form method="post">
<label for="config" class="item-title">Config Editor</label>
<textarea autofocus id="config" name="config" rows=20>{{config}}</textarea>
<p><input type="submit" value="Submit">
{% if error_message %}
<span class="error-message">{{ error_message }}</span>
{% endif %}
</p>
</form>
</div>

</div>
</body>
</html>
